/* General
** ==================== */
:root {
    --color-primary: #002147;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
body > main {
    flex: 1;
}

/* Content */
.content h3:not(:first-child) {
    margin-top: 0;
}
.content .table-scroll {
    overflow-x: auto;
}

.menu.side-menu {
    position: sticky;
    top: 1rem;
}

/* Partial - static/header
** ==================== */
#partials-layout-header .topbar {
    margin: 0.5rem auto;
}
#partials-layout-header .navbar {
    background-color: var(--color-primary);
}
#partials-layout-header .navbar-brand, #partials-layout-header .navbar-end {
    display: none;
}
#partials-layout-header .navbar-brand .navbar-title {
    margin-left: 0.75rem;
    font-weight: bold;
}
#partials-layout-header .navbar-brand .navbar-item {
    flex-shrink: 1;
}
#partials-layout-header .navbar-brand .navbar-burger {
    align-self: center;
}
#partials-layout-header .navbar-item .placeholder-pill {
    display: block;
    width: 5rem;
    height: 1rem;
    border-radius: 1rem;
}

@media (max-width: 1023px) {
    #partials-layout-header .topbar {
        display: none;
    }
    #partials-layout-header .navbar-brand, #partials-layout-header .navbar-end {
        display: flex;
    }
    #partials-layout-header .navbar-end .navbar-item, #partials-layout-header .control.search {
        flex: 1;
    }
}

/* Partial - static/footer
** ==================== */
#partials-layout-footer {
    padding: 2rem 0;
    background-color: var(--color-primary);
}

@media (max-width: 1023px) {
    #partials-layout-footer .container {
        padding: 0 0.75rem;
    }
}

/* Partial - static/breadcrumbs
** ==================== */
#partials-layout-breadcrumbs {
    margin-bottom: 1rem;
    padding: 0.5rem;
}
#partials-layout-breadcrumbs .divider {
    margin: 0 0.25rem;
}

/* Partial - content/list
** ==================== */
.partials-content-list .item-title {
    margin-bottom: 0.25rem;
}
.partials-content-list .item-subtitle {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.partials-content-list .pagination {
    margin-top: 1rem;
}

/* Partial - content/image-gallery-list
** ==================== */
#partials-content-image-gallery-list .columns {
    flex-wrap: wrap;
}
#partials-content-image-gallery-list .card {
    max-width: 300px;
}
#partials-content-image-gallery-list .image, #partials-content-image-gallery-list .image img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
#partials-content-image-gallery-list .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    font-size: 5rem;
}
#partials-content-image-gallery-list .card-content {
    padding: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top: 1px solid #dbdbdb;
}
#partials-content-image-gallery-list .card-content p {
    font-size: 0.875rem;
    font-weight: 600;
}

/* Partial - content/video-gallery-list
** ==================== */
#partials-content-video-gallery-list .columns {
    flex-wrap: wrap;
}
#partials-content-video-gallery-list .card {
    max-width: 320px;
}
#partials-content-video-gallery-list .card-image, #partials-content-video-gallery-list .card-image video {
    width: 320px;
    height: 180px;
}
#partials-content-video-gallery-list .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 180px;
    font-size: 5rem;
}
#partials-content-video-gallery-list .card-content {
    padding: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top: 1px solid #dbdbdb;
}
#partials-content-video-gallery-list .card-content p {
    font-size: 0.875rem;
    font-weight: 600;
}

/* Layout - static/default
** ==================== */
#layouts-static-default > .container {
    min-height: 100%;
    padding: 1rem;
}

/* Layout - content/list-item
** ==================== */
.layouts-content-list-item .item-title {
    margin-bottom: 0.25rem;
}
.layouts-content-list-item .item-subtitle {
    display: block;
}
.layouts-content-list-item .item-subtitle:last-of-type {
    margin-bottom: 0.5rem;
}

/* Page - 404
** ==================== */
#pages-404 > .container {
    display: flex;
    justify-content: center;
    min-height: 100%;
    padding: 4rem 1rem;
    text-align: center;
}
#pages-404 .title {
    font-size: 5rem;
}
#pages-404 .subtitle {
    margin-bottom: 0.5rem;
}

/* Page - error
** ==================== */
#pages-error > .container {
    display: flex;
    justify-content: center;
    min-height: 100%;
    padding: 4rem 1rem;
    text-align: center;
}
#pages-error .title {
    font-size: 5rem;
}
#pages-error .subtitle {
    margin-bottom: 0.5rem;
}

/* Page - Maintenance
** ==================== */
#pages-maintenance > .container {
    display: flex;
    justify-content: center;
    min-height: 100%;
    padding: 4rem 1rem;
    text-align: center;
}
#pages-maintenance .title {
    font-size: 5rem;
}
#pages-maintenance .subtitle {
    margin-bottom: 0.5rem;
}

/* Page - home
** ==================== */
#pages-home .slick-arrow {
    z-index: 1;
}
#pages-home .slick-prev {
    left: 25px;
}
#pages-home .slick-next {
    right: 25px;
}
#pages-home .carousel {
    margin-bottom: 4rem;
}
#pages-home .level {
    flex-wrap: wrap;
    padding: 2rem 0;
}
#pages-home .columns.latest-updates {
    margin-bottom: 2rem;
}
#pages-home .title.latest-updates, #pages-home .subtitle.latest-updates {
    margin-bottom: 0.75rem;
}

@media (max-width: 1023px) {
    #pages-home > .container {
        padding: 0 1rem;
    }
}

/* Page - search
** ==================== */
#pages-search > .container {
    min-height: 100%;
    padding: 1rem;
}
#pages-search .item-title {
    margin-bottom: 0.5rem;
}
#pages-search .pagination {
    margin-top: 1rem;
}

/* Page - announcements-item
** ==================== */
#pages-announcements-item .content {
    margin-bottom: 0;
}
#pages-announcements-item .columns {
    flex-wrap: wrap;
    margin-bottom: 0;
}
#pages-announcements-item .column .box {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}
#pages-announcements-item .attachment-icon {
    margin-right: 1rem;
}
#pages-announcements-item .attachment-info {
    display: flex;
    flex-direction: column;
}

/* Page - news-item
** ==================== */
#pages-news-item .content {
    margin-bottom: 0;
}
#pages-news-item .columns {
    flex-wrap: wrap;
    margin-bottom: 0;
}
#pages-news-item .column .box {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}
#pages-news-item .attachment-icon {
    margin-right: 1rem;
}
#pages-news-item .attachment-info {
    display: flex;
    flex-direction: column;
}

/* Page - events-item
** ==================== */
#pages-events-item .content {
    margin-bottom: 0;
}
#pages-events-item .columns {
    flex-wrap: wrap;
    margin-bottom: 0;
}
#pages-events-item .column .box {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}
#pages-events-item .attachment-icon {
    margin-right: 1rem;
}
#pages-events-item .attachment-info {
    display: flex;
    flex-direction: column;
}

/* Page - publications-item
** ==================== */
#pages-publications-item .content {
    margin-bottom: 0;
}
#pages-publications-item .columns {
    flex-wrap: wrap;
    margin-bottom: 0;
}
#pages-publications-item .column .box {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}
#pages-publications-item .attachment-icon {
    margin-right: 1rem;
}
#pages-publications-item .attachment-info {
    display: flex;
    flex-direction: column;
}

/* Page - image-gallery-item
** ==================== */
#pages-image-gallery-item .content {
    margin-bottom: 0;
}
#pages-image-gallery-item .columns {
    flex-wrap: wrap;
    margin-bottom: 0;
}
#pages-image-gallery-item .thumbnail {
    width: 304px;
    cursor: pointer;
    background-color: #ffffff;
    border: 2px solid #dbdbdb;
}
#pages-image-gallery-item .thumbnail:hover {
    border: 2px solid #3273dc;
}
#pages-image-gallery-item .thumbnail img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
#pages-image-gallery-item .thumbnail figcaption {
    padding: 0.375rem;
    border-top: 1px solid #dbdbdb;
    font-size: 0.875rem;
    font-weight: 600;
}
#pages-image-gallery-item #imageGalleryModal figcaption {
    margin-top: 0.375rem;
    font-size: 0.875rem;
    font-weight: 600;
}

/* Page - video-gallery-item
** ==================== */
#pages-video-gallery-item .content {
    margin-bottom: 0;
}
#pages-video-gallery-item .columns {
    flex-wrap: wrap;
    margin-bottom: 0;
}
#pages-video-gallery-item video {
    display: block;
    width: 640px;
    max-width: 640px;
    max-height: 360px;
    background-color: #000000;
}
#pages-video-gallery-item .caption-wrapper {
    display: flex;
    margin-top: 0.375rem;
}
#pages-video-gallery-item .caption {
    width: 0;
    flex-grow: 1;
}

@media (max-width: 767px) {
    #pages-video-gallery-item video {
        width: 100%;
        max-width: none;
    }
}